<!-- <h1>Home#railrush</h1>
<p>Find me in app/views/home/railrush.html.erb</p> -->
<iframe src="http://www.miniclip.com/games/rail-rush/en/webgame.php" frameborder="0" style="border:none;" width="640" height="640" scrolling="no"></iframe>